.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.contentFlex {
  display: flex;
  align-items: center;
  border: 5px solid black;
  width: inherit;
  justify-content: center;
  border-radius: 20px;
  margin-top: 30px;
}
.buttons {
  text-align: center;
  margin-top: 5px;
}
.rainbow-border {
  border: 10px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.currentActive {
  color: white;
  text-align: center;
}
.title {
  margin-left: 200px;
  text-align: center;
}
.content {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  display: grid;
  margin-top: 30px;
  min-height: 500px;
  min-width: 500px;
  width: 500px;
  height: 500px;
  position: relative;
  text-align: center;
  border: 5px solid black;
}
.gridSize {
  text-align: center;
}
.grid-item {
  border: none;
  display: inline-block;
}
#buttonSave {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.Headercontainer {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.buttons button {
  border-radius: 10px;
}

.border-top-left {
  border-top: 1px solid rgb(156, 156, 156);
  border-left: 1px solid rgb(156, 156, 156);
}

.border-right {
  border-right: 1px solid rgb(156, 156, 156);
}

.border-bottom {
  border-bottom: 1px solid rgb(156, 156, 156);
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 16em;
}
.logoContainer {
  margin: 0.7em 0 0.7em 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8.8em;
  text-decoration: none;
}
.logoImageContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
.logoImage {
  width: 2em;
}
.logoText {
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;

  margin: 0 0 0 0.5vw;
}
.headerTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  position: relative;
  color: #e5e7eb;
  size: 18px;
  width: 27em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
a:visited {
  color: #e5e7eb;
}
a:link {
  color: #e5e7eb;
}
a:hover {
  color: #b8b9bb;
}
a:active {
  color: #818181;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
}

code {
  padding: 5px 8px;
  border-radius: 10px;
  background-color: #f8f9f9;
  color: #cc0066;
}

[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
}

[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type="color"]::-webkit-color-swatch {
  border: none;
}

.color-picker {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9f9;
}
#picker_launcher {
  margin: 20px 0;
  width: 267px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.sizeSet {
  margin-top: 20px;
}
.text {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #155fff;
  position: relative;
  padding-right: 120px;
  position: relative;
}
.switch-button:before {
  content: "Click";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.opacity:before {
  content: "On";
}
.fill:before {
  content: "On";
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

.glow-on-hover {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgba(57, 85, 128, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 85, 128, 0.5);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
